{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "pages-worker",
  "compatibility_date": "2025-11-29",
  "pages_build_output_dir": "app/dist",
  "services": [
    {
      "binding": "API_WORKER",
      "service": "aws-access-bridge",
    },
  ],
}