name: Upstream Sync

on:
  schedule:
    - cron: '0 2 * * 1'
  workflow_dispatch:

jobs:
  sync:
    if: ${{ github.event.repository.fork }}
    name: Sync latest commits from upstream
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Sync upstream changes
        id: sync
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.4
        with:
          upstream_sync_repo: Rexezuge-CloudflareWorkers/AWS-AccessBridge
          upstream_sync_branch: main
          target_sync_branch: main
          target_repo_token: ${{ secrets.GITHUB_TOKEN }}
          test_mode: false
